.sec {
    background-color: #CDDCF6;
}

.row {
    display: flex;
    align-items: center;

}

.trend,
.para {
    font-family: 'JosefinSans-Regular' !important;
    color: #333;
    font-size: 17px;
    margin-bottom: 15px;
}

.title {
    font-family: 'JosefinSans-Regular' !important;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn {
    background-color: #133A5E;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px 20px;
    color: #fff;
    font-family: 'JosefinSans-Regular' !important;
    margin-top: 20px;
}