:root {
  --primary-color: #133A5E;
  --secondary-color: #86a4ce;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Josefin Sans', sans-serif;
}

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url(/src/assets/font/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: 'JosefinSans-Light';
  src: url(/src/assets/font/Josefin_Sans/static/JosefinSans-Light.ttf);
}

@font-face {
  font-family: 'JosefinSans-Medium';
  src: url(/src/assets/font/Josefin_Sans/static/JosefinSans-Medium.ttf);
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(187, 184, 184);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: var(--primary-color);
}

::selection {
  color: #fff;
  background: var(--primary-color);
}